 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight&display=swap');

/*******************Section Styling***********/

@import url('section styling/header.css');
@import url('section styling/skills.css');
@import url('section styling/about.css');
@import url('section styling/service.css');
@import url('section styling/resume.css');
@import url('section styling/portfolio.css');
@import url('section styling/freelance.css');
@import url('section styling/blog.css');
@import url('section styling/testimonial.css');
@import url('section styling/contact.css');
@import url('section styling/footer.css');


:root{
    --primary-color:rgb(71, 70, 70);
    /*--secondary-color:rgb(34, 34, 250);*/
    --secondary-color:#f95959;
    --tertiary-color:white;
    --forth-color:rgb(41, 39, 39);
    /*--header-image:url(Assets/backgroundImage.jpg);*/
    --section-width: 100%;
    --section-height:750px;
    --container-width: 100%;
    --section-padding-top:70px;
    --section-padding-left:200px;
    --section-padding-right: 200px;
    --section-padding-bottom: 70px;
    /*--freelance-backimage: url(Assets/shapes.jpg);
    --portfolio-backimage:url(Assets/perf-removebg-preview.png);*/
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Inter', sans-serif;

}
html{
    scroll-behavior: smooth;
}


body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family:'Inter', sans-serif ;
    
    
}
section{
    display: flexbox;
}
.container{
    width:var(--container-width);
   
}


.About__Shapes{
    padding-left: 685px;
    display: flex;
    margin-bottom: 12px;
   
    
}
.About__Heading{
    text-align: center;
    font-size: 32px;
    color: white;
    margin-bottom: 12px;
}


.About__Circle{
    width: 12px;
    height: 12px;
    border-radius: 20px;
    border: 1px solid white;
}

.About__Lines{
    width: 100px;
    height:4px ;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    margin-top: 4px;
   
    

}

.About__Line{
    width: 60px;
    height:2px ;
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    

}
 

/***************************************/

@media screen and (min-width: 1900px) and (max-width:2600px) {
   
        
    .About__Shapes{
     padding-left: 880px;
    }
    .Header__Body{
        margin-left: auto;
        margin-right: auto;
    }
    .Service__Articles{
        margin-left: auto;
        margin-right: auto;
    }
   .Skills{
   margin-left: auto;
   margin-right: auto;
    
   }

   .Soft__Skills{
    width: 900px;
    
   }
   .Coding__Skills{
    width: 900px;
   }
   .Skills__Percentage{
    width: 500px;
   }
   .Freelance__Text{
    
    padding-left: 300px;
    
    
   }
   .Freelance__Section button{
    margin-left: 350px;
   }
   .Resume__Section{
    height: 1000px;
   }
   .Resume__Container{
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
   }
   .Resume__Container article{
    width: 600px;

   }
 

   .Experience__Container{
    margin-left: 300px;
   }
   .Education__Container{
    margin-right: 0;

   }
 

   .Blog__Container{
    padding-left: 500px;
   }
   .Portfolio__Articles{
    padding-left: 200px;
    
   }
   
  
   .Blog__Container{
    padding-left: var(--section-padding-left);
    padding-right: var(--section-padding-right);
   }
   .Blog-articles{
    width: 450px;
   }
   .image{
    width: 450px;
   }
   .Contact__Section{
    height:calc(var(--section-height) - 200px) ;
   }
   button.CTA{
    justify-content: center;
    align-items: center;
    margin: 50px;

   }
   .Footer__Icons{
    margin-left: 700px;
    
   }
  }
  @media screen and (min-width:1800px) and (max-width:1899px){
    .About__Shapes{
        margin-left: 150px;
    }
    .Skills{
        padding-left: 400px;
    }
    .Resume__Container{
        padding-left: 400px;
    }
    .Blog__Container{
        padding-left: 400px;
    }
  }

  @media screen and (max-width:1400px)  {
    .About__Shapes{
        padding-left: 630px;
    }
    .Portfolio__Articles{
        padding-left: 0;
        width: 100%;
    }
    .Footer__Icons{
        margin-left: 300px;
    }
    
  }
  @media  screen and (max-width:600px){
    .Header__Section{
        width: 100%;
        height: 400px;
        
    }
    .Header__Class{
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .Header__Logo{
        padding-left: 0;


    }
    a{
        padding: 10px;
        font-size: small;
    }
    .Header__Image{
        display: none;
    }
    .Header__Message{
        padding-left: 70px;
        padding-top: 70px;

    }
    .About__Section{
        height: fit-content;
        width: 100%;
    }
    .About__Division{
        display: block;
        padding-left: 70px;
        padding-right: 70px;

    }
   
    .About__Shapes{
        padding-left: 0;
        margin-left: 235px;
    
    }
    .Service__Section{
        width: 100%;
    }
    .Service__Articles{
        width: 100%;
        padding-left: 2px;
        padding-right: 0;
        height: fit-content;
    }
    .Article__1{
        display: block;
        height: 350px;

    }
    .Icon__Heading{
        font-size: 20px;
    }
    .About__Paragraph{
       
        font-size: smaller;
        text-align: left;
        padding-bottom: 20px;
    }
   .fa-solid{
    width: 40px;
    height: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;

   }
   .fa-github{
    width: 40px;
    height: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;

   }
   .Skills__Section{
    height: fit-content;
   }
   .Skills{
    display: block;
    padding-left: 70px;
   }
   
   .Freelance__Text{
    padding-left: 70px;
    margin-left: 0;
    padding-top: 40px;
   }
   .Freelance__Section button{
    margin-left: 0;
   }
.Resume__Section{
    height: fit-content;
}
.Resume__Container{
    display: block;
    padding-left: 70px;
    padding-right: 0;
}

.Projects__Section{
    height: fit-content;
    padding-bottom: 100px;
    width: 100%;
}
.Portfolio__Articles{
    padding-left: 0px;
    display: block;
   
    
}
.Article__Container{
    display: block;
}
.Portfolio__Article{
   
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.Portfolio__Image{
    width: 50%;
    
}
.Portfolio__Article .n4{
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;

}
.Blog__Section{
    height: fit-content;
}
.Blog__Container{
    padding-left: 70px;
    display: block;
    padding-top: 70px;

}
.Blog-articles{
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
}
.image{
    width: 400px;
}
.Blog-articles button{
    display: none;
}
.Contact__Section{
    padding-top: 70px;
}
.Contact__Container{
    padding-left: 70px;
    

}
.contact__Labels{
    display: none;
}
textarea{
    width: 300px;
}
.Footer__Nav{
    padding-left: 0px;
    padding-right: 0;

}
.Footer__Icons{
    margin-left: 0;
}
.fa-brands{
    margin-left: 10px;
}

} 
    



    
  




  









    





