
/*******************************PORTFOLIO*********************************************/

:root{
    --portfolio-backimage:url(Assets/perf-removebg-preview.png);
}

.Projects__Section{
    width: 100%;
    background-color:  var(--forth-color);
    padding-top: var(--section-padding-top);
    height:calc(var(--section-height) + 300px)  ;
    display: flexbox;
    

}
.Projects__Links {
   
    padding-top: var(--section-padding-top);
    display: none;
    
    
   

}
.Projects__Links ul,li,a{
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.Portfolio__Articles{
   
    padding-top: var(--section-padding-top);
    display: flex;
    height:520px;
}
.Article__Container{
    /*padding-left:var(--section-padding-left);*/
    padding-left: 80px;
    display: flex;
}

.Portfolio__Message{
padding-top: var(--section-padding-top);
/*padding-left: var(--section-padding-left);*/
    display: flex; 
    
}
marquee.Message{
   
    text-align: left;
    opacity: 0.5;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);*/
    animation: slide-left 60s ease forwards infinite;
   color: white;
   margin-bottom: 50px;
   
}


.Portfolio__Article{
    
    width: 400px;
    height: 450px;
    border: none;
    background-color:var(--primary-color);
    /*border-radius: 20px;*/
    margin-right: 80px;
    transform: rotate(0deg);
    transition: transform 0.5s;
    
    
}
.Portfolio__Article a{
    
    color: var(--secondary-color);
}
.Portfolio__Article i{
   
    background: white;
    
}

.layer{
    
    height: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.6), #f95959);
    align-items: center;
    transition: height 0.7s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 150px;
}


.Portfolio__Image{
    width: 300px;
    height: 200px;
    transform: rotate(0deg);
    margin: 80px;
    align-items: flex-start;
    

}
.n1{
    background-image: var(--portfolio-backimage);
    
}
.Portfolio__Article .n1, .n2, .n4{
    transform: scale(1.1);
}
.Portfolio__Article:hover .layer{
    height: 100%;
}
.n2{
    background-image: url(Assets/drone1-removebg-preview.png);
    margin-top: var(--section-padding-top);
    margin-bottom:20px ;

}
.contain{
    padding-top: 0;
}
.Portfolio__Article.n4{
    background-image: url(Assets/surveyimage-removebg-preview.png);
    margin-top: 200px;
    width: 400px;
    margin-left: 20px;
}

.fa-github{
    width: 60px;
    height: 40px;
    border-radius:50% ;
    padding-top: 20px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    color:var(--secondary-color); 

}

